version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: prochisto_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres_password
      POSTGRES_DB: prochisto
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: prochisto_redis
    restart: always
    ports:
      - "6379:6379"

volumes:
  postgres_data:
